* {
	margin: 0;
	padding: 0;
}

#footer {
	background: #343637;
	position: relative;
	height: 170px;
	margin-top: 30px;
	clear: both;
	color: #D8D6CB;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 18px;
}

#footer button {
	margin: 12px;
}

